# SQL Server Configuration
MSSQL_SA_PASSWORD=TUPASSWORD
ASPNETCORE_ENVIRONMENT=Production

# Connection String
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=Gymnasium;User Id=sa;Password=TUPASSWORD;TrustServerCertificate=True

# JWT Configuration
Jwt__Key=MisuperClavede32CaracteresParaGymnasium123456789ParaPruebaPiloto
Jwt__Issuer=https://localhost:5001
Jwt__Audience=https://localhost:5001

# Initial Admin User
InitialAdmin__Username=admin
InitialAdmin__Password=admin123